p{
    margin-bottom: 0;
}

#mainContainer{
    height: 100vh;
}

.flow-root{
    display: flow-root;
}

.pointer{
    cursor: pointer;
}

.addTodos:hover{
    color: var(--info);
}

.addTasks:hover{
    color: var(--white);
}